body{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid #bbb;
    padding: 10px 15px;
    border-radius: 4px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 0px 33px 18px rgba(0, 0, 0, 0.12);
}

.row {
    display: flex;
    justify-content: space-around;
}

.limbs_wrap {
    display: flex;
    justify-content: center;
}

.contract_accept {
    font-style: italic;
    margin-bottom: 10px;
}

.user-form__submit {
    background: #eee;
    color: #06e;
    text-decoration: none;
    display: block;
    width: 90px;
    text-align: center;
    margin: 20px auto;
    padding: 10px 10px;
    transition: all 0.3s;
}

.user-form__submit:hover {
    box-shadow: 0px -5px 0 #06e inset;
}

.login_btn {
    background: #eee;
    color: #06e;
    text-decoration: none;
    display: block;
    width: 50px;
    text-align: center;
    margin: 5px auto;
    padding: 4px 4px;
    transition: all 0.3s;
}
.login_btn:hover {
    box-shadow: 0px -2px 0 #06e inset;
}


.user-form input,
.user-form textarea,
.user-form select {
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 10px;
    font-size: 1rem;
}

.user-form__btn-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.error_field {
    border: 2px solid red !important;
}

.error_field_message {
    font-size: 12px;
    color: red;
    margin: 5px auto;
}

.popup_message {
    position: fixed;
    padding: 10px 15px;
    background-color: #ddd;
    border-radius: 4px;
    opacity: 0.5;
}

.popup_right {
    right: 10px;
}

.popup_left {
    left: 10px;
}

.popup_top {
    top: 10px;
}

.popup_bot {
    bottom: 10px;
}
